@import url("./InputWrapper.css");
@import url(./RegisterForm.css);
@import url(./SignIn/SignForm.css);
@import url(./SignIn/SignInput.css);
@import url(./AppStart.css);
@import url(./UserActions.css);
@import url(./chatScreen.css);
@import url(./messageContainer.css);
*{
    font-family: 'PT Sans', sans-serif;
}
.auth-screen{
    display: flex;
    justify-content: center;
}