@import url("./InputWrapper.css");
@import url(./RegisterForm.css);
@import url(./SignIn/SignForm.css);
@import url(./SignIn/SignInput.css);
@import url(./AppStart.css);
@import url(./UserActions.css);
@import url(./chatScreen.css);
@import url(./messageContainer.css);
@import url(./send-message-form.css);
@import url(./message-list.css);

*{
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    margin: 0;
}
.auth-screen{
    display: flex;
    justify-content: center;
}