.input-wrapper .input-main{
    width: 98.5%;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    outline: none;
    margin-top: 10px;

}
.input-wrapper .input-error{
    color: red;
}